{{#if loading}}
  <div class="loader text-center">
    <svg width="40" height="40" viewbox="0 0 40 40">
      <polygon points="0 0 0 40 40 40 40 0" class="rect" />
    </svg>
  </div>
{{else}}
  {{#each journeys as |journey index|}}
    <div class="card card-recommended row" {{action "findTrains" journey}}>
      <div class="col-xs-2 icon text-center">
        {{material-design-icon name='notifications-active'}}
      </div>
      <div class="col-xs-8 stations">
        <p>
          <small>Recommendation #{{position index}}</small><br>
          <strong>{{journey.from.name}} ({{journey.from.crs}})</strong><br>
          <strong>{{journey.to.name}} ({{journey.to.crs}})</strong>
        </p>
      </div>
      <div class="col-xs-2 select-tab">
        {{material-design-icon name='chevron-right'}}
      </div>
    </div>
  {{else}}
    <div class="card card-recommended row">
      <div class="col-xs-2 icon text-center">
        {{material-design-icon name='info'}}
      </div>
      <div class="col-xs-10 no-route">
        No recommendations found.<br><small>The more you use track, the better recommendations get!</small>
      </div>
    </div>
  {{/each}}
{{/if}}