<div class="card card-train {{if details.isDelayed "bad-border"}} {{unless details.isDelayed "good-border"}}" {{action "select" details}}>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 platform">
      Platform: {{details.platform}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 col-sm-1 icon  {{unless details.isDelayed "good"}} {{if details.isDelayed "bad"}}">
      {{#if details.trainSplits}}
        {{material-design-icon name='call-split'}}
      {{else}}
        {{material-design-icon name='directions-transit'}}
      {{/if}}
    </div>
    <div class="col-xs-5 col-sm-5 time">
      <div class="row">
        {{#if details.sta}}
          <div class="col-xs-12 col-sm-12">{{details.sta}}</div>
        {{else}}
          <div class="col-xs-5 col-sm-5">{{details.std}}</div>
          <div class="col-xs-1 col-sm-1 text-center chev">{{material-design-icon name='chevron-right'}}</div>
          <div class="col-xs-4 col-sm-4">{{arrival-time details destination}}</div>
        {{/if}}

      </div>
      <div class="col-xs-12 col-sm-12">
        {{#if details.isDelayed}}<small>Arrival: {{details.delayedTime}}</small>{{/if}}
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 status {{unless details.isDelayed "good"}} {{if details.isDelayed "bad"}}">
      {{details.status}}<br>
      <small>{{details.operator}}</small>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-sm-9 col-sm-offset-1 col-xs-offset-1 destination">
      {{#if details.sta}}
        From: <strong>{{details.origin.name}}</strong>
      {{else}}
        Destination: <strong>{{details.destination.name}}</strong>
      {{/if}}
    </div>

    <div class="col-xs-2 col-sm-2 more">
      {{material-design-icon name='keyboard-arrow-right'}}
    </div>

  </div>
</div>