<div class="results-header">
  <div class="row">
    <div class="col-xs-1"><a {{action "back"}}>{{material-design-icon name='chevron-left'}}</a></div>
    <div class="col-xs-11">
      <h5 class="large">{{origin.name}} to {{destination.name}}</h5>
      <div class="col-xs-6 platform">
        Platform <strong>{{service.platform}}</strong>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 times">
      <div class="row">
        <div class="col-xs-6">{{#if service.isDelayed}}<span class="delayed">{{service.delayedDepartureTime}}</span>{{else}}<span class="notDelayed">On Time</span>{{/if}}</div>
        <div class="col-xs-3"></div>
        <div class="col-xs-3"></div>
      </div>

      <div class="row">
        <div class="col-xs-4">{{service.std}}</div>
        <div class="col-xs-2 text-left">{{material-design-icon name='chevron-right'}}</div>
        <div class="col-xs-4">{{service.arrivalTime}}</div>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <button class="btn btn-buy">Buy</button>
    </div>
  </div>

</div>
<div class="selected-train">

  <div class="cards">
    {{#each service.callingPoints as |callingPoint|}}
      <div class="card card-point row">
        <div class="col-xs-1 icon {{if callingPoint.isDelayed "bad"}} {{unless callingPoint.isDelayed "good"}}">
          {{material-design-icon name='directions-transit'}}
        </div>
        <div class="col-xs-8 name">
          <p>
            {{callingPoint.name}}
          </p>
        </div>
        <div class="col-xs-3 text-right time">
          <p>
            <small class="{{if callingPoint.isDelayed "bad"}} {{unless callingPoint.isDelayed "good"}}">{{#if callingPoint.isDelayed}}{{callingPoint.delayedTime}}{{else}}On time{{/if}}</small><br>
            <strong>{{callingPoint.st}}</strong>
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</div>