<div class="account">
  <div class="header col-xs-12" style="{{unless model.image "height: 5em;"}}">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h5>Hello<br><strong>{{model.fullName}}</strong></h5>
        <div class="image" style="background:url('{{model.image}}') center no-repeat; background-size:cover;"></div>
      </div>
    </div>
  </div>

  <div class="input col-xs-12">
    <div class="row">
      <h5>Personal Information</h5>
      <div class="form-group">
        <label for="fullName">First Name</label>
        {{input type="text" class="form-control" id="firstName" value=model.firstName}}
      </div>
      <div class="form-group">
        <label for="fullName">Last Name</label>
        {{input type="text" class="form-control" id="lastName" value=model.lastName}}
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        {{input type="text" class="form-control" id="email" value=model.email}}
      </div>
    </div>

    <div class="row">
      <h5>Account Information</h5>
      <div class="form-group">
        <label for="password">Password</label>
        {{input type="password" class="form-control" id="password" value=password placeholder="****"}}
      </div>
    </div>
    <div class="row text-right">
      <br>
      <a {{action "deleteAccount"}}>Delete Account</a>
      <br>
      <div class="col-xs-6 text-left buttons">
        <button class="btn btn-primary" {{action "saveAccount"}}>Save</button>
      </div>

      <div class="col-xs-6 text-right buttons">
        <button class="btn btn-danger" {{action "invalidate"}}>Logout</button>
      </div>
    </div>
  </div>
</div>