<!-- Modal for time/date select -->
{{partial "modals/message"}}
{{partial "modals/time-date-select"}}
{{partial "navigation"}}

<div class="content">
  {{liquid-outlet}}
</div>

{{#if message}}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{message}}
  </div>
{{/if}}