{{partial "modals/station-select"}}
{{partial "modals/time-date-select"}}
{{partial "navigation"}}

{{station-message crs=crs}}

<div class="content">
  {{liquid-outlet}}
</div>

{{#if alert.visible}}
  <div class="alert {{if alert.warning "alert-warning"}} {{unless alert.warning "alert-confirmation"}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.message}}
  </div>
{{/if}}