<div class="board">
  <div class="board-search">
    <div class="row">
      <div class="col-xs-6">
        {{#if isDeparture}}<h5>Departure Board</h5>{{else}}<h5>Arrival Board</h5>{{/if}}
      </div>
      <div class="col-xs-6 text-right right">
        {{#if stationMessage.message}}
          <button class="btn btn-message" {{action "showStationMessage"}}>{{material-design-icon name='message'}}</button>
        {{/if}}
      </div>
    </div>
    <div class="row input-fields">
      <div class="form-group">
        <div class="col-xs-7 col">
          <label for="station">Station</label>
          <div class="input-group">
            {{station-search content=stations station=station id="station" placeholder="e.g Liverpool Street" describedby="to" class="form-control"}}
          </div>
        </div>
        <div class="col-xs-5 col">
          <label for="type" class="type">Board</label>
          <select class="form-control type" onchange={{action 'selectType' value="target.value"}} describedby="type">
            {{#if isDeparture}}
              <option value="departure" selected="selected">Departure</option>
            {{else}}
              <option value="departure">Departure</option>
            {{/if}}
            {{#if isArrival}}
              <option value="arrival" selected="selected">Arrival</option>
            {{else}}
              <option value="arrival">Arrival</option>
            {{/if}}
          </select>
        </div>
      </div>

      <div class="col-xs-12 submit">
        <div class="buttons">
          {{#if navigation.isLoading}}
            <button class="btn btn-primary">{{fa-icon "circle-o-notch" spin=true}}</button>
          {{else}}
            <button class="btn btn-primary" {{action "get"}}>GET TRAINS</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    {{#each trains as |train|}}
      {{train-card details=train}}
    {{else}}
      <div class="text-center listMessage">
        {{#if crs}}
          <h5>No Trains Found</h5>
        {{else}}
          <h5>Station not selected</h5>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>