<div class="results">
  <div class="results-header {{if stationMessage.message "large"}}" >
    <div class="row">
      <div class="col-xs-1 col-sm-1"><a {{action "back"}}>{{material-design-icon name='chevron-left'}}</a></div>
      <div class="col-xs-11 col-sm-11">
        <h5 class="text-right">{{origin}} to {{destination}}</h5>
      </div>
    </div>

    {{#if stationMessage.message}}
      <div class="col-xs-12 text-right right">
        <button class="btn btn-message" {{action "showStationMessage"}}>{{material-design-icon name='message'}}</button>
      </div>
    {{/if}}
  </div>

  <div class="cards list" style="{{if stationMessage.message "padding-top: 2.5em;"}}">
    {{#each model as |train|}}
      {{train-card details=train destination=destination destinationCRS=destinationCRS}}
    {{else}}
      <div class="text-center listMessage">
        <h5>No Trains Found</h5>
        <small>Please be sure you are using a direct route, also check the station message for service updates</small>
      </div>
    {{/each}}
  </div>
</div>