<div class="find">
  <div class="search">
    <div class="row">
      <div class="col-xs-6">
        <h5>Where to today?</h5>
      </div>
      <div class="col-xs-6 date-time">
        <div class="input-group" {{action "showDateTimeSelect"}}>
          {{input type="text" class="form-control" placeholder=dateTimeSelect.dateSelected readonly="true" describedby="dateTime"}}
          <span class="input-group-addon" id="dateTime">{{material-design-icon name='arrow-drop-down'}}</span>
        </div>
      </div>
    </div>
    <div class="row input-fields">
      <div class="form-group">
        <label for="from">from</label>
        <div class="input-group">
          {{station-search content=stations station=location.fromStation showResults=showResults id="from" placeholder="e.g London Euston" describedby="from" class="form-control"}}
          <span class="input-group-addon" id="from" {{action "getNearbyStations"}}>{{material-design-icon name='my-location'}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="to">to</label>
        <div class="input-group">
          {{station-search content=stations station=location.toStation id="to" placeholder="e.g Liverpool Street" describedby="to" class="form-control"}}
          <span class="input-group-addon swapStations" id="to" {{action "swapStations"}}>{{material-design-icon name='swap-vert'}}</span>
        </div>
      </div>
      <div class="row submit">
        <div class="col-xs-10 buttons {{unless application.user "col-xs-12"}}">
          <button class="btn btn-primary" {{action "getTrains"}}>{{#if navigation.isLoading}}{{fa-icon "circle-o-notch" spin=true}}{{else}}FIND TRAINS{{/if}}</button>
        </div>
        {{#if application.user}}
          <div class="col-xs-2 buttons">
            {{#if journeyLiked}}
              <button class="btn btn-star filled" {{action "unlikeJourney"}}>{{material-design-icon name='favorite'}}</button>
            {{else}}
              <button class="btn btn-star" {{action "likeJourney"}}>{{material-design-icon name='favorite-border'}}</button>
            {{/if}}
          </div>
        {{/if}}
      </div>
      <div class="row">
        <small class="center text-center">Licence: Direct routes only</small>
      </div>
    </div>
  </div>

  {{#unless application.isLoggedIn}}
    <div class="listMessage text-center">
      <h5>Where could Track take you?</h5>
      {{#link-to "login"}}{{material-design-icon name='face'}} <br>Login Here{{/link-to}}
    </div>
  {{else}}
    <div class="cards">
      {{#if loadingJourneys}}
        <div class="loader text-center">
          <svg width="40" height="40" viewbox="0 0 40 40">
            <polygon points="0 0 0 40 40 40 40 0" class="rect" />
          </svg>
        </div>
      {{else}}
        {{#each recommendedJourneys as |journey index|}}
          <div class="card card-recommended row" {{action "findTrains" journey}}>
            <div class="col-xs-2 icon text-center">
              {{material-design-icon name='notifications-active'}}
            </div>
            <div class="col-xs-8 stations">
              <p>
                <small>Recommendation #{{position index}}</small><br>
                <strong>{{journey.from.name}} ({{journey.from.crs}})</strong><br>
                <strong>{{journey.to.name}} ({{journey.to.crs}})</strong>
              </p>
            </div>
            <div class="col-xs-2 select-tab">
              {{material-design-icon name='chevron-right'}}
            </div>
          </div>
        {{else}}
          <div class="card card-recommended row">
            <div class="col-xs-2 icon text-center">
              {{material-design-icon name='info'}}
            </div>
            <div class="col-xs-10 no-route">
              No recommendations found.<br><small>The more you use track, the better recommendations get!</small>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/unless}}
</div>