<div class="liked">
  <div class="liked-header">
    <div class="row">
      <div class="col-xs-5">
        <h5>Liked Journeys</h5>
      </div>
    </div>
  </div>

  <div class="cards">
    {{#each application.user.starredJourneys as |journey|}}
      <div class="card card-route row" {{action "select" journey}}>
        <div class="col-xs-1 icon">
          {{material-design-icon name='star'}}
        </div>
        <div class="col-xs-2 from-to">
          <p>
            From: <br>
            To:
          </p>
        </div>
        <div class="col-xs-6 stations">
          <p>
            <strong>{{journey.from.name}} ({{journey.from.crs}})</strong><br>
            <strong>{{journey.to.name}} ({{journey.to.crs}})</strong>
          </p>
        </div>
        <div class="col-xs-3 remove text-right" {{action "removeLiked"}}>
          Delete
        </div>
      </div>
    {{else}}
      <div class="text-center listMessage">
        <h5>Station liked routes</h5>
      </div>
    {{/each}}
  </div>
</div>