<div class="login">
  <div class="row icon">
    {{material-design-icon name='face'}}
  </div>

  <div class="row">
    <div class="form-group">
      <label for="identification">Email</label>
      {{input type="text" class="form-control lowercase" autocapitalize=off style="text-transform:lowercase !important" id="identification" value=identification placeholder="email@example.com"}}

      <label for="pass">Password</label>
      {{input type="password" class="form-control" id="pass" value=password placeholder="********"}}
    </div>
  </div>

  <div class="row buttons text-center">
    <button class="btn btn-primary" {{action "authenticate"}}>{{#if navigation.isLoading}}{{fa-icon "circle-o-notch" spin=true}}{{else}}Login{{/if}}</button>
    <br><br>
    {{#link-to "register"}}Register{{/link-to}}
  </div>
</div>