<div class="results">
  <div class="results-header">
    <div class="row">
      <div class="col-xs-1 col-sm-1"><a {{action "back"}}>{{material-design-icon name='chevron-left'}}</a></div>
      <div class="col-xs-11 col-sm-11 {{if service "col-xs-12"}}">
        <h5 class="text-right">{{origin.name}} to {{destination.name}}</h5>
      </div>
    </div>
  </div>
  <div class="cards list">
    {{#each model as |train|}}
      {{partial "partial/train-card"}}
    {{else}}
      <div class="text-center listMessage">
        <h5>Station liked routes</h5>
      </div>
    {{/each}}
  </div>
</div>