<div class="selectedTrain">
  <div class="header">
    <div class="row">
      <div class="col-xs-1 col-sm-1"><a {{action "back"}}>{{material-design-icon name='chevron-left'}}</a></div>
      <div class="col-xs-11 col-sm-1">
        <h5 class="large">{{train.origin.name}} to {{train.destination.name}}</h5>
        <div class="col-xs-6 col-sm-6 platform">
          Platform <strong>{{train.platform}}</strong>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 times">
        <div class="row">
          <div class="col-xs-6 col-sm-6">{{#if train.isDelayed}}<span class="delayed">{{train.delayedDepartureTime}}</span>{{else}}<span class="notDelayed">On Time</span>{{/if}}</div>
          <div class="col-xs-3 col-sm-3"></div>
          <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row">
          {{#if train.std}}
            <div class="col-xs-4 col-sm-4">{{train.std}}</div>
            <div class="col-xs-2 col-sm-2 text-left">{{material-design-icon name='chevron-right'}}</div>
            <div class="col-xs-4 col-sm-4">{{train.arrivalTime}}</div>
          {{else}}
            <div class="col-xs-12 col-sm-12 time">{{train.sta}}</div>
          {{/if}}
        </div>
      </div>
      {{#unless train.isArrival}}
        <div class="col-xs-5 col-sm-5 text-right">
          <button class="btn btn-buy">Buy</button>
        </div>
      {{/unless}}
    </div>

  </div>
  <div class="selected-train {{if train.isArrival "arrival"}}">
    <div class="cards">
      {{#each train.callingPoints as |callingPoint|}}
        <div class="card card-point row">
          <div class="col-xs-1 icon {{if callingPoint.isDelayed "bad"}} {{unless callingPoint.isDelayed "good"}}">
            {{material-design-icon name='directions-transit'}}
          </div>
          <div class="col-xs-8 col-sm-8 name">
            <p>
              {{callingPoint.name}}
            </p>
          </div>
          <div class="col-xs-3 col-sm-3 text-right time">
            <p>
              <small class="{{if callingPoint.isDelayed "bad"}} {{unless callingPoint.isDelayed "good"}}">{{#if callingPoint.isDelayed}}{{callingPoint.delayedTime}}{{else}}On time{{/if}}</small><br>
              <strong>{{callingPoint.st}}</strong>
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>